.table {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title {
    display: flex;
    justify-content: space-between;
}

.title-second {
    width: 186px;
}

.title-first p {
    width: 747px;
}


.element-table {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

}

.element-table-right input {
    padding: 10px;
}

.navbar {
    display: flex;

    button {
        font-size: larger;
        margin: 0px 40px 0px 0px;
    }

}


.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    background-color: white;
    border: none;
    position: relative;
    cursor: pointer;
}

/* Gạch dưới mặc định */
.button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #333;
    transform: scaleX(0);
    /* Mặc định không hiển thị */
    transition: transform 0.3s ease;
}

/* Hover effect */
.button:hover::after {
    transform: scaleX(1);
    /* Hiển thị gạch dưới khi hover */
}

.button:target {
    color: #ff0000;
}

.focused {
    color: #ff0000;
}

.title-thirt p {
    width: 224px;
}